<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="StaticHandler" path="static/*" verb="*"
                modules="StaticFileModule"
                resourceType="File"
                requireAccess="Read" />
            <add name="FlaskHandler" path="*" verb="*" modules="FastCgiModule"
                scriptProcessor="E:\inetpub\python\Scripts\python.exe|E:\inetpub\python\Lib\site-packages\wfastcgi.py"
                resourceType="Unspecified" requireAccess="Script" />
        </handlers>

        <!-- ✅ ESTO ES LO QUE FALTABA -->
        <rewrite>
            <rules>
                <rule name="DjangoRewrite" stopProcessing="true">
                    <match url=".*" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="/" />
                </rule>
            </rules>
        </rewrite>

        <staticContent>
            <remove fileExtension=".css" />
            <remove fileExtension=".js" />
            <remove fileExtension=".woff2" />
            <remove fileExtension=".woff" />
            <mimeMap fileExtension=".css" mimeType="text/css" />
            <mimeMap fileExtension=".js" mimeType="application/javascript" />
            <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
            <mimeMap fileExtension=".woff" mimeType="font/woff" />
        </staticContent>
    </system.webServer>
    <appSettings>
        <add key="PYTHONPATH" value="E:\inetpub\wwwroot\PRUEBAS\FondoEmpleados" />
        <add key="WSGI_HANDLER" value="FondoEmpleados.wsgi.application" />
        <add key="DJANGO_SETTINGS_MODULE" value="FondoEmpleados.settings" />
    </appSettings>
</configuration>