<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="FlaskHandler" path="*" verb="*" modules="FastCgiModule"
                scriptProcessor="E:\inetpub\python\Scripts\python.exe|E:\inetpub\python\Lib\site-packages\wfastcgi.py"
                resourceType="Unspecified" requireAccess="Script" />
        </handlers>
    </system.webServer>
    <appSettings>
        <add key="PYTHONPATH" value="E:\inetpub\wwwroot\PRUEBAS\FondoEmpleados" />
        <add key="WSGI_HANDLER" value="FondoEmpleados.wsgi.application" />
        <add key="DJANGO_SETTINGS_MODULE" value="FondoEmpleados.settings" />
    </appSettings>
</configuration>